/* font style - (this font's link copied from codepen.io, font name - Product Sans */
/* @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
} */
/* i tried to write GOOGLE by typing , but didn't work */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  height: 60px;
}

.navbar {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  color: #000000;
}

.link:hover {
  text-decoration: underline;
}

.drop-shadow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-shadow:hover {
  background-color: #0000001a;
}

.menu-icon,
.user-account span {
  font-size: 18px;
}

.user-account span {
  color: #ffffff;
}

.user-account {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.content-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.logo-img {
  width: 300px;
  margin-bottom: 20px;
}

.search-bar {
  border: 1px solid #d3d3d3;
  width: 600px;
  height: 45px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.search-bar:hover {
  box-shadow: 0px 0px 4px 0px #b5b5b5;
}

.search-bar i {
  font-size: 18px;
  color: #808080;
  margin-right: 15px;
  cursor: pointer;
}

.search-bar input {
  flex-grow: 1;
  height: 30px;
  margin-right: 15px;
  font-size: 16px;
  border: none;
}
.search-bar img:hover {
  cursor: pointer;
}

.search-bar input:focus {
  outline: none;
}
::placeholder {
  color: #acaaaa;
  text-align: center;
}

.search-button {
  margin-top: 20px;
}

.search-button button {
  height: 40px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  color: #000000;
  background-color: #f8f9fa;
}

.search-button button:hover {
  /* border: 1px solid lightgray; */
  box-shadow: 0 0 10px #dcdcdc;
}

.search-button-left {
  width: 120px;
}

.search-button-right {
  width: 140px;
}

.shamim-links {
  margin-top: 20px;
  font-size: 14px;
}

.shamim-links ul a {
  color: #808080;
}

.shamim-links p a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  height: 50px;
}

.footer-section {
  display: flex;
  align-items: center;
  padding: 25px;
}

.footer-part {
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-part ul li a {
  font-size: 14px;
  color: #808080;
}

.footer-part ul li a:hover {
  text-decoration: underline;
}

.left-footer-part {
  display: flex;
}

.left-footer-part li {
  margin-right: 15px;
}

.right-footer-part {
  display: flex;
}

.right-footer-part li {
  margin-left: 15px;
}

/* responsive - for - mobile & tablet devices */

@media only screen and (max-width: 650px) {
  .navbar ul {
    font-size: 10px;
  }

  .menu-icon,
  .user-account span {
    font-size: 14px;
  }

  .drop-shadow {
    height: 30px;
    width: 30px;
  }

  .logo-img {
    width: 200px;
  }

  .search-bar {
    width: 90%;
    height: 35px;
  }

  .search-bar i {
    font-size: 14px;
  }

  .search-button button {
    height: 30px;
    font-size: 12px;
  }

  .search-button-left {
    width: 100px;
  }

  .search-button-right {
    width: 120px;
  }

  footer {
    height: 100px;
  }

  .footer-part {
    height: 100px;
    flex-direction: column;
  }

  .left-footer-part {
    flex-wrap: wrap;
  }
}

/* shamim-links */
.shamim-links {
  font-size: 11px;
}

/* ----------------------------------------------
 shamim social link animation css
 * ---------------------------------------------- */

.focus-in-expand {
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
